global-reset()
@import "common/*"
@import "mixins/*"

* 
	box-sizing:border-box

html body
	height:auto

body
	background-color:#e3e2e2


.container
	.top-area
		height:90px
		padding 30px 0px
		.info
			badge(green)
	.detail
		width:90%
		.row
			clearfix()
		center()
		.package-stat
			package-stat(48%)
			margin:1%
			float:left

		.maintainers
			maintainers(48%)
			float:left
			margin:1%

		.command
			command(48%)
			float:left
			margin:1%


		.tabs
			width:48%
			margin:1%
			height:70px
			clearfix()
			float:left
			.tab
				font-size:14px
				float:left
				background-color:#eae9e9
				color:#acb3bf
				line-height:70px
				padding:0px 30px	
				border-right:1px solid #e5e4e4
				&:last-child
					border-right:none
				&:hover
					background-color:#ffffff
			.active
				background-color:#ffffff

		.readme
			readme(98%)
			margin:1%
			float:left


@media (min-width: 0px )
	.package-info
		package-info(96%)
		margin:2%
		float:left

@media (min-width: 800px)
	.package-info
		package-info(47%)
		margin:1.5%
		float:left


@media (min-width: 1100px)
	.package-info
		package-info(31.3%)
		margin:1%
		float:left
	
