include ./mixin/component

extends layout/default.jade

block head  
	title cortex
	+css("./css/package.css")

block content  
	section.container
		.top-area
			span.info 10 pacakges about commonjs
		.detail
			.row
				+package-stat
				+command("clone","git clone blablabla")
				+command("install","npm install commonjs-walker --save")
			.row
				.dependency-info.card
					.tabs
						a.tab.active DEPENDENCIES
						a.tab DEV
						a.tab DEPENDENTS
					.content
						table
							tr
								th FULL NAME
								th REQUIREMENT
								th LATEST
							tr
								td async
								td ~0.2.9
								td 1.2.0
							tr
								td async
								td ~0.2.9
								td 1.2.0
							tr
								td async
								td ~0.2.9
								td 1.2.0
				+maintainers()
			.row
				section.readme
					.title README
					.content hahaha


